<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            Criação de usuário
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input type="email" name="email" placeholder="email@exemple.com" class="form-control"><br> 
                <input type="password" name="password" placeholder="******" class="form-control"><br>
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>


<%- include ("../../partials/footer.ejs") %>